### Node ###
# Node Modules
node_modules

### mammi ###
# mammi DB
mammi-db

# mammi ERD ###
mammi-erd

# mammi Flowchart ###
mammi-flowchart

### src ###
# src

### index ###
# index.js

### Env ###
.env

### Image ###
public/*

### access.log ###
access.log

### cloudinary ###
src/middlewares/cloudinary.js
src/config/cloudinary.js

### vercel ###
vercel.json